.todoApp {
  max-width: 1024px;
  width: 100%;
  margin: 30px auto;
  padding: 20px;
  background-color: #faf8f8;
  border-radius: 8px;
  border: 1px solid #efefef;
}

button.btn .btn-primary {
  background-color: rgb(163, 163, 251) !important;
}
