.results {
  color: #828c94;
}

.user-info {
  list-style: none;
  border-bottom: 1px solid #b8b4b4;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.price-data {
  width: 60%;
}

.client-name {
  text-align: left;
  width: 40%;
}
